<div id="banner" class="container">
  <header class="major">
    <h2>Share Notes , Anytime Anywhere</h2>
    <p>Making Note Sharing Fun and Easy</p>
  </header>
  <ul class="pennants">
    <li><a class="pennant" href="#"> <span class="icon fa-laptop"></span></a></li>
    <li><a class="pennant" href="#"> <span class="icon fa-laptop"></span></a></li>
    <li><a class="pennant" href="#"> <span class="icon fa-laptop"></span></a></li>
  </ul>

  <footer>
    <a class="button">New to Notes?Sign up Here</a>
  </footer>
</div>
