<section ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-show="visible" class="note">
	<div class="userInfo"></div>
	<div class="noteItem">
		<div class="header">
		  <input type="text" ng-model="note.name" name="title" placeholder="Title" ng-disabled="{{disabled}}" />
		  <a ng-click="delete()" ng-show="hover"><span class="icon fa fa-times"></span></a>
		</div>
		<div class="contents">
			<textarea ng-model="note.description" placeholder="notes details" ng-disabled="{{disabled}}"/>
		</div>
	</div>
</section>
