<div class="fullHeight" data-ng-controller="NotesController">
	<div class="notesPanel">
		<div id="search-wrapper">
			<div id="add">
				<span ng-click="display(null)" class="icon fa-sticky-note-o"></span>
				<input ng-model="searchText" id="search" type="text" placeholder="search for Notes" />
			</div>
		</div>

		<div ng-repeat="note in notes | filter:searchText" ng-click="display(note)">
			<notes-directive note="note" on-submit="passData(note)" visible="visible"></notes-directive>
		</div>
	</div>

	<form ng-show="visible" ng-submit="submit()" class="noteForm" autocomplete="off" novalidate>
		<div class="data">
			<div class="header">
				<input type="text" ng-model="note.name" name="title" placeholder="Title" ng-disabled="{{disabled}}" />
			</div>
			<div class="contents">
				<textarea ng-model="note.description" placeholder="notes details" ng-disabled="{{disabled}}"></textarea>
			</div>
			<div class="footer">
				<span ng-show="note.update" ng-click="update()" class="icon fa-floppy-o""></span>
				<span ng-click="create()" ng-hide="note.update" class="icon fa-plus-square-o"></span>
				<span ng-click="share()" class="icon fa-share-square-o"></span>
			</div>
		</div>

	</form>
</div>

